[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyproject = "*"
psycopg2 = "*"
dj-database-url = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
